@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background-color: #2B2D30;
  color: white;
  padding: 150px;
  padding-top: 100px;
}

::selection {
  background: white; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: white; /* Gecko Browsers */
}

* {
  font-family: "Source Code Pro";
}

a.resident {
  color: #ff0;
}

a.spotify {
  color: #1DB954;
}

p {
  padding: 40px 0;
}

.frame {
}

.center {
  text-align: center;
  padding-left: 70px;
  padding-bottom: 30px;
}

span.resident {
  color: #2B2D30;
  background-color: #ff0;
}

span.spotify {
  color: white;
  background-color: #1DB954;
}

.last-updated {
  font-size: 13px;
  color: #DEDFE5;
}

.last-song {
  padding-top: 30px;
  text-align:center;
}
