@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background-color: #2B2D30;
  color: white;
}

h1 a {
  color: white;
  display: inline-block;
  text-decoration: none;
}

::selection {
  background: white; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: white; /* Gecko Browsers */
}

* {
  font-family: "Source Code Pro";
}

a.resident {
  background-color: black;
  color: #ff0;
}

a.spotify {
  background-color: black;
  color: #1DB954;
}

p {
  padding: 40px 0;
}

.center {
  text-align: center;
  padding-left: 16%;
  padding-bottom: 30px;
}

span.resident {
  color: #ff0;
  background-color: black;
}

span.spotify {
  color: #1DB954;
  background-color: black;
}

.last-updated {
  font-size: 13px;
  color: #DEDFE5;
}

.last-song {
  padding-top: 30px;
  text-align:center;
}

#spotify-last-find-time {
  font-style: italic;
}

svg.fa-chart-line {
  position: relative;
  top: 4px;
  width: 18px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  padding-top: 100px;
  padding-bottom: 40px;
  max-width: 1200px;
  flex: 1;
  width: 70%;
  margin: 0 auto;
}

.footer {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  height: 60px;
}

.footer-box {
  display: inline;
  vertical-align: middle;
}

.footer a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}